* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body {
	background: #222;
}

.card{
    width: 90%;
    max-width: 470px;
    background:linear-gradient(135deg, #00feba, #5b548a);
    color: white;
    margin: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}